schemas/v1-1-3/OrderListRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com) by Atul Bhabal (JR Technologies, Inc.) -->
<!-- Notice: This is EDIST Draft Specification provided for pre-review by the members of the relevant governance groups, it is not provided for implementation in a production environment or considered to be the final  schema to support EDIST business  requirements. The draft schema may, at any time up to final specification submission, undergo changes including, but not limited to, specific elements, element names/labels, annotations or message name as a result of the ongoing quality control process, and comments, which may be received following the pre-review. Implementation of this version is done so at the risk of the implementer or implementing company.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iata.org/IATA/EDIST" targetNamespace="http://www.iata.org/IATA/EDIST" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.000" id="EDIST2014.2">
	<xsd:include schemaLocation="edist_commontypes.xsd"/>
	<xsd:include schemaLocation="edist_structures.xsd"/>
	<!--
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
= / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / =

    O R D E R   L I S T   R E S P O N S E   B U S I N E S S   O B J E C T

= / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / =
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
-->
	<xsd:element name="OrderListRS">
		<xsd:annotation>
			<xsd:documentation source="DESCRIPTION" xml:lang="en">The OrderList transaction set retrieves a list of Orders that match one or more search criteria.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Document"/>
				<xsd:choice>
					<xsd:element name="Response">
						<xsd:annotation>
							<xsd:documentation>Query Results.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element ref="OrderListProcessing">
									<xsd:annotation>
										<xsd:documentation>Transaction Processing Results, including processing status, alerts, notices, business warnings, supplemental marketing messages and policy.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="Orders" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Matched Order(s).</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="Order" maxOccurs="unbounded">
												<xsd:annotation>
													<xsd:documentation>Matched Order.</xsd:documentation>
												</xsd:annotation>
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element name="Agency" minOccurs="0">
															<xsd:annotation>
																<xsd:documentation>Agency.</xsd:documentation>
															</xsd:annotation>
															<xsd:complexType>
																<xsd:sequence>
																	<xsd:element ref="AgencyID" minOccurs="0"/>
																	<xsd:element name="Name" type="ProperNameSimpleType" minOccurs="0">
																		<xsd:annotation>
																			<xsd:documentation source="description" xml:lang="en">Agency Seller Name.  Example: Carson Travel</xsd:documentation>
																		</xsd:annotation>
																	</xsd:element>
																	<xsd:element name="IATA_Number" type="IATA_NbrSimpleType" minOccurs="0">
																		<xsd:annotation>
																			<xsd:documentation source="description" xml:lang="en">Agency Seller IATA number. Example: 98417900</xsd:documentation>
																		</xsd:annotation>
																	</xsd:element>
																</xsd:sequence>
															</xsd:complexType>
														</xsd:element>
														<xsd:element name="CreationDate" minOccurs="0">
															<xsd:annotation>
																<xsd:documentation>Order Creation Date.</xsd:documentation>
															</xsd:annotation>
															<xsd:complexType>
																<xsd:sequence>
																	<xsd:element ref="CommonDateGroup"/>
																</xsd:sequence>
															</xsd:complexType>
														</xsd:element>
														<xsd:element name="Departure" minOccurs="0">
															<xsd:annotation>
																<xsd:documentation>Departure Airport.</xsd:documentation>
															</xsd:annotation>
															<xsd:complexType>
																<xsd:sequence>
																	<xsd:element name="AirportCode">
																		<xsd:annotation>
																			<xsd:documentation source="description" xml:lang="en">Departure Airport Location code. Example: TPA

Encoding Scheme: IATA/ A4A (three character) Airport or City Code</xsd:documentation>
																		</xsd:annotation>
																		<xsd:complexType>
																			<xsd:simpleContent>
																				<xsd:extension base="AirportCitySimpleType">
																					<xsd:attributeGroup ref="RadiusAttrGroup">
																						<xsd:annotation>
																							<xsd:documentation source="description" xml:lang="en">Search Radius for specified Airport or City code.</xsd:documentation>
																						</xsd:annotation>
																					</xsd:attributeGroup>
																				</xsd:extension>
																			</xsd:simpleContent>
																		</xsd:complexType>
																	</xsd:element>
																	<xsd:element name="Date" type="xsd:date">
																		<xsd:annotation>
																			<xsd:documentation source="description" xml:lang="en">Departure date. Example: 2017-01-13

Encoding Scheme: ISO 8601 Date Format (YYYY-MM-DD)</xsd:documentation>
																		</xsd:annotation>
																	</xsd:element>
																</xsd:sequence>
															</xsd:complexType>
														</xsd:element>
														<xsd:element name="NbrInParty" minOccurs="0">
															<xsd:annotation>
																<xsd:documentation source="description" xml:lang="en">Number in Party. Example: 2</xsd:documentation>
															</xsd:annotation>
															<xsd:complexType>
																<xsd:simpleContent>
																	<xsd:extension base="xsd:positiveInteger">
																		<xsd:attributeGroup ref="ObjAssociationAttrGroup"/>
																	</xsd:extension>
																</xsd:simpleContent>
															</xsd:complexType>
														</xsd:element>
														<xsd:element name="Passengers" minOccurs="0">
															<xsd:annotation>
																<xsd:documentation source="description" xml:lang="en">Passenger and Group information.</xsd:documentation>
															</xsd:annotation>
															<xsd:complexType>
																<xsd:choice>
																	<xsd:element name="Group" type="GroupType">
																		<xsd:annotation>
																			<xsd:documentation source="description" xml:lang="en">Group Information.</xsd:documentation>
																		</xsd:annotation>
																	</xsd:element>
																	<xsd:element name="FullName" maxOccurs="unbounded">
																		<xsd:annotation>
																			<xsd:documentation source="description" xml:lang="en">Passenger Full Name. Example: JOHN SMITH</xsd:documentation>
																		</xsd:annotation>
																		<xsd:complexType>
																			<xsd:simpleContent>
																				<xsd:extension base="ProperNameSimpleType">
																					<xsd:attributeGroup ref="ObjAssociationAttrGroup"/>
																				</xsd:extension>
																			</xsd:simpleContent>
																		</xsd:complexType>
																	</xsd:element>
																</xsd:choice>
															</xsd:complexType>
														</xsd:element>
														<xsd:element name="TicketingStatus" minOccurs="0">
															<xsd:annotation>
																<xsd:documentation>Ticketing Status. Examples: Requested, Ticketed, Other</xsd:documentation>
															</xsd:annotation>
															<xsd:complexType>
																<xsd:simpleContent>
																	<xsd:extension base="TicketDesigAppListType">
																		<xsd:attribute name="Context" type="ContextSimpleType" use="optional">
																			<xsd:annotation>
																				<xsd:documentation>Context.</xsd:documentation>
																			</xsd:annotation>
																		</xsd:attribute>
																	</xsd:extension>
																</xsd:simpleContent>
															</xsd:complexType>
														</xsd:element>
														<xsd:element name="OrderID"/>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element ref="Errors"/>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OrderListProcessing" type="OrderListProcessType">
		<xsd:annotation>
			<xsd:documentation>Transaction Processing Results, including processing status, alerts, business warnings, supplemental marketing messages and policy.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="OrderListProcessType">
		<xsd:annotation>
			<xsd:documentation source="description" xml:lang="en">Response Message Processing.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="OrderProcessResultType">
				<xsd:sequence>
					<xsd:element ref="Notices" minOccurs="0"/>
					<xsd:element ref="Remarks" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
