schemas/v17-1/OrderListRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iata.org/IATA/EDIST/2017.1" targetNamespace="http://www.iata.org/IATA/EDIST/2017.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="4.000" id="IATA2017.1">
	<xsd:include schemaLocation="edist_commontypes.xsd"/>
	<!--
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
= / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / =

    O R D E R  L I S T   R E Q U E S T   B U S I N E S S   O B J E C T

= / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / =
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
-->
	<xsd:element name="OrderListRQ">
		<xsd:annotation>
			<xsd:documentation source="description" xml:lang="en">The OrderList transaction set retrieves a list of Orders that match one or more search criteria.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PointOfSale" minOccurs="0"/>
				<xsd:element ref="Document"/>
				<xsd:element ref="Party"/>
				<xsd:element ref="OrderListParameters" minOccurs="0"/>
				<xsd:element name="Query">
					<xsd:annotation>
						<xsd:documentation>Order List Query.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Filters">
								<xsd:annotation>
									<xsd:documentation>Query Filters.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Agency" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Agency.</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="AgencyID" minOccurs="0"/>
													<xsd:element name="Name" type="ProperNameSimpleType" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation source="description" xml:lang="en">Agency Seller Name.  Example: Carson Travel</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="IATA_Number" type="IATA_NbrSimpleType" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation source="description" xml:lang="en">Agency Seller IATA number. Example: 98417900</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Airline" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Airline.</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="AirlineID" minOccurs="0"/>
													<xsd:element name="Name" type="ProperNameSimpleType" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation source="description" xml:lang="en">Airline Name. Example: British Airways</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element ref="BookingReferences" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Existing Booking Reference (e.g. PNR Record Locator). Example: R1A3SK</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="CancelDateRange" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Order Cancellation Date Range.</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:complexContent>
													<xsd:extension base="DatePeriodRepType"/>
												</xsd:complexContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="CreateDateRange" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Order Creation Date Range.</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:complexContent>
													<xsd:extension base="DatePeriodRepType"/>
												</xsd:complexContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Flight" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Flight Filters.</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="FlightNumber" minOccurs="0"/>
													<xsd:element ref="ClassOfService" minOccurs="0"/>
													<xsd:element ref="FareBasisCode" minOccurs="0"/>
													<xsd:element name="Arrival" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Arrival Airport.</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="AirportCode">
																	<xsd:annotation>
																		<xsd:documentation source="description" xml:lang="en">Arrival Airport Location code. Example: GVA

Encoding Scheme: IATA/ A4A (three character) Airport or City Code</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:simpleContent>
																			<xsd:extension base="AirportCitySimpleType">
																				<xsd:attributeGroup ref="RadiusAttrGroup">
																					<xsd:annotation>
																						<xsd:documentation source="description" xml:lang="en">Search Radius for specified Airport or City code.</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attributeGroup>
																			</xsd:extension>
																		</xsd:simpleContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="Date" type="xsd:date">
																	<xsd:annotation>
																		<xsd:documentation source="description" xml:lang="en">Arrival date. Example: 2017-01-14

Encoding Scheme: ISO 8601 Date Format (YYYY-MM-DD)</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="Departure" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Departure Airport.</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="AirportCode">
																	<xsd:annotation>
																		<xsd:documentation source="description" xml:lang="en">Departure Airport Location code. Example: TPA

Encoding Scheme: IATA/ A4A (three character) Airport or City Code</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:simpleContent>
																			<xsd:extension base="AirportCitySimpleType">
																				<xsd:attributeGroup ref="RadiusAttrGroup">
																					<xsd:annotation>
																						<xsd:documentation source="description" xml:lang="en">Search Radius for specified Airport or City code.</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attributeGroup>
																			</xsd:extension>
																		</xsd:simpleContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="Date" type="xsd:date">
																	<xsd:annotation>
																		<xsd:documentation source="description" xml:lang="en">Departure date. Example: 2017-01-13

Encoding Scheme: ISO 8601 Date Format (YYYY-MM-DD)</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="OriginDestination" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation source="description" xml:lang="en">Flight origin/ destination information.</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Departure">
																	<xsd:annotation>
																		<xsd:documentation>Departure Airport.</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="AirportCode">
																				<xsd:annotation>
																					<xsd:documentation source="description" xml:lang="en">Departure Airport Location code. Example: TPA

Encoding Scheme: IATA/ A4A (three character) Airport or City Code</xsd:documentation>
																				</xsd:annotation>
																				<xsd:complexType>
																					<xsd:simpleContent>
																						<xsd:extension base="AirportCitySimpleType">
																							<xsd:attributeGroup ref="RadiusAttrGroup">
																								<xsd:annotation>
																									<xsd:documentation source="description" xml:lang="en">Search Radius for specified Airport or City code.</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attributeGroup>
																						</xsd:extension>
																					</xsd:simpleContent>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="Date" type="xsd:date">
																				<xsd:annotation>
																					<xsd:documentation source="description" xml:lang="en">Departure date. Example: 2017-01-13

Encoding Scheme: ISO 8601 Date Format (YYYY-MM-DD)</xsd:documentation>
																				</xsd:annotation>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="Arrival">
																	<xsd:annotation>
																		<xsd:documentation>Arrival Airport.</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="AirportCode">
																				<xsd:annotation>
																					<xsd:documentation source="description" xml:lang="en">Arrival Airport Location code. Example: GVA

Encoding Scheme: IATA/ A4A (three character) Airport or City Code</xsd:documentation>
																				</xsd:annotation>
																				<xsd:complexType>
																					<xsd:simpleContent>
																						<xsd:extension base="AirportCitySimpleType">
																							<xsd:attributeGroup ref="RadiusAttrGroup">
																								<xsd:annotation>
																									<xsd:documentation source="description" xml:lang="en">Search Radius for specified Airport or City code.</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attributeGroup>
																						</xsd:extension>
																					</xsd:simpleContent>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="Date" type="xsd:date">
																				<xsd:annotation>
																					<xsd:documentation source="description" xml:lang="en">Arrival date. Example: 2017-01-14

Encoding Scheme: ISO 8601 Date Format (YYYY-MM-DD)</xsd:documentation>
																				</xsd:annotation>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
															<xsd:attributeGroup ref="ObjAssociationAttrGroup"/>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="Segment" minOccurs="0" maxOccurs="unbounded">
														<xsd:annotation>
															<xsd:documentation source="description" xml:lang="en">Flight segment information.</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Departure">
																	<xsd:annotation>
																		<xsd:documentation>Departure Airport.</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="AirportCode">
																				<xsd:annotation>
																					<xsd:documentation source="description" xml:lang="en">Departure Airport Location code. Example: TPA

Encoding Scheme: IATA/ A4A (three character) Airport or City Code</xsd:documentation>
																				</xsd:annotation>
																				<xsd:complexType>
																					<xsd:simpleContent>
																						<xsd:extension base="AirportCitySimpleType">
																							<xsd:attributeGroup ref="RadiusAttrGroup">
																								<xsd:annotation>
																									<xsd:documentation source="description" xml:lang="en">Search Radius for specified Airport or City code.</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attributeGroup>
																						</xsd:extension>
																					</xsd:simpleContent>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="Date" type="xsd:date">
																				<xsd:annotation>
																					<xsd:documentation source="description" xml:lang="en">Departure date. Example: 2017-01-13

Encoding Scheme: ISO 8601 Date Format (YYYY-MM-DD)</xsd:documentation>
																				</xsd:annotation>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="Arrival">
																	<xsd:annotation>
																		<xsd:documentation>Arrival Airport.</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="AirportCode">
																				<xsd:annotation>
																					<xsd:documentation source="description" xml:lang="en">Arrival Airport Location code. Example: GVA

Encoding Scheme: IATA/ A4A (three character) Airport or City Code</xsd:documentation>
																				</xsd:annotation>
																				<xsd:complexType>
																					<xsd:simpleContent>
																						<xsd:extension base="AirportCitySimpleType">
																							<xsd:attributeGroup ref="RadiusAttrGroup">
																								<xsd:annotation>
																									<xsd:documentation source="description" xml:lang="en">Search Radius for specified Airport or City code.</xsd:documentation>
																								</xsd:annotation>
																							</xsd:attributeGroup>
																						</xsd:extension>
																					</xsd:simpleContent>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="Date" type="xsd:date">
																				<xsd:annotation>
																					<xsd:documentation source="description" xml:lang="en">Arrival date. Example: 2017-01-14

Encoding Scheme: ISO 8601 Date Format (YYYY-MM-DD)</xsd:documentation>
																				</xsd:annotation>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
															<xsd:attributeGroup ref="ObjAssociationAttrGroup"/>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Group" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation source="description" xml:lang="en">Group Information.</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Name" type="ProperNameSimpleType" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation source="description" xml:lang="en">Group Name. Example: ABC Tour Club</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="TotalPartySize" type="xsd:positiveInteger" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation source="description" xml:lang="en">The Complete Party (TCP) indicating total party size. Example: 12</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element ref="Contacts" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Passengers" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation source="description" xml:lang="en">Passenger and Group information.</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="PassengerReferences" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Payments" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation source="description" xml:lang="en">Payment information.</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Amount" type="SimpleCurrencyPriceType" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation source="description" xml:lang="en">The amount for this form of payment. Example: 300 USD</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="Method" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Payment Method detail.</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:complexContent>
																<xsd:extension base="KeyWithMetaObjectBaseType">
																	<xsd:sequence>
																		<xsd:element name="CardCode" type="PayCardCodeSimpleType" minOccurs="0">
																			<xsd:annotation>
																				<xsd:documentation source="description" xml:lang="en">Credit card issuer code. Example: MC

Note: This is the 2 character code of the credit card issuer.</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="MaskedCardNumber" minOccurs="0">
																			<xsd:annotation>
																				<xsd:documentation source="description" xml:lang="en">Concealed credit card number, Example: xxxxxxxxxxxx9922</xsd:documentation>
																			</xsd:annotation>
																			<xsd:complexType>
																				<xsd:simpleContent>
																					<xsd:extension base="MaskedCardNmbrSimpleType">
																						<xsd:attributeGroup ref="ObjAssociationAttrGroup"/>
																					</xsd:extension>
																				</xsd:simpleContent>
																			</xsd:complexType>
																		</xsd:element>
																		<xsd:element name="TokenizedCardNumber" type="xsd:string" minOccurs="0">
																			<xsd:annotation>
																				<xsd:documentation source="description" xml:lang="en">Tokenized card number.

Note: This capability may not be supported by all EDIST-enabled systems or may be supported by bilateral agreement only. If supported, the technical implementation of this capability is not dictated by this specification.</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="EffectiveExpireDate" minOccurs="0">
																			<xsd:annotation>
																				<xsd:documentation source="description" xml:lang="en">Payment Card Effective and/ or Expiration date(s).</xsd:documentation>
																			</xsd:annotation>
																			<xsd:complexType>
																				<xsd:sequence>
																					<xsd:element name="Effective" type="PayCardDateSimpleType" minOccurs="0">
																						<xsd:annotation>
																							<xsd:documentation source="description" xml:lang="en">Payment Card Effective Date. Example: 0116</xsd:documentation>
																						</xsd:annotation>
																					</xsd:element>
																					<xsd:element name="Expiration" type="PayCardDateSimpleType" minOccurs="0">
																						<xsd:annotation>
																							<xsd:documentation source="description" xml:lang="en">Payment Card Expiration Date. Example: 0119</xsd:documentation>
																						</xsd:annotation>
																					</xsd:element>
																				</xsd:sequence>
																				<xsd:attributeGroup ref="ObjAssociationAttrGroup"/>
																			</xsd:complexType>
																		</xsd:element>
																		<xsd:element name="CardHolderName" minOccurs="0">
																			<xsd:annotation>
																				<xsd:documentation source="description" xml:lang="en">Name of credit card holder. Example: JOHN SMITH</xsd:documentation>
																			</xsd:annotation>
																			<xsd:complexType>
																				<xsd:simpleContent>
																					<xsd:extension base="ProperNameSimpleType">
																						<xsd:attributeGroup ref="ObjAssociationAttrGroup"/>
																					</xsd:extension>
																				</xsd:simpleContent>
																			</xsd:complexType>
																		</xsd:element>
																	</xsd:sequence>
																</xsd:extension>
															</xsd:complexContent>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="Status" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Payment Status. Examples: Canceled, Complete, Failed</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:simpleContent>
																<xsd:extension base="PaymentStatusListType">
																	<xsd:attribute name="Context" type="ContextSimpleType" use="optional">
																		<xsd:annotation>
																			<xsd:documentation>Payment Status Context.</xsd:documentation>
																		</xsd:annotation>
																	</xsd:attribute>
																</xsd:extension>
															</xsd:simpleContent>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="TicketDocument" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Ticket document numbers.</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="IssueDateRange" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Issue Date Range.</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:complexContent>
																<xsd:extension base="DatePeriodRepType"/>
															</xsd:complexContent>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="TicketDocNbr" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Coupon Document Number.

Note: This is the document number comprised of the airline code, form code, and serial number.</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:minLength value="1"/>
																<xsd:maxLength value="14"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="TicketingLocation" type="AirportCitySimpleType" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Airport or City Code. Example: JFK

Encoding Scheme: IATA/ A4A (three character) Airport or City Code</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="CouponNumber" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Applicable coupon number. Example: 1234</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:integer">
																<xsd:minInclusive value="1"/>
																<xsd:maxInclusive value="4"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="Status" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Ticketing Status. Examples: Requested, Ticketed, Other</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:simpleContent>
																<xsd:extension base="TicketDesigAppListType">
																	<xsd:attribute name="Context" type="ContextSimpleType" use="optional">
																		<xsd:annotation>
																			<xsd:documentation>Context.</xsd:documentation>
																		</xsd:annotation>
																	</xsd:attribute>
																</xsd:extension>
															</xsd:simpleContent>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="TravelDateRange" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Travel Date Range.</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:complexContent>
													<xsd:extension base="DatePeriodRepType"/>
												</xsd:complexContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Service" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Service information.</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="ServiceID" minOccurs="0"/>
													<xsd:element ref="Description" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attributeGroup ref="IATA_PayloadStdAttributes"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OrderListParameters" type="OrderListParamsType">
		<xsd:annotation>
			<xsd:documentation>Parameters that influence overall message results.

Note: These capabilities may not be supported by all EDIST-enabled systems or may be supported by bilateral agreement only. The technical implementation of this capability is not dictated by this specification. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="OrderListAlertsType">
		<xsd:annotation>
			<xsd:documentation source="description" xml:lang="en"> Alerts definition.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AssociatedObjectBaseType">
				<xsd:sequence>
					<xsd:element name="PIN_AuthResponse" type="PinPhraseAnswerType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Traveler PIN Phrase Authentication Response.

Notes:
1. This is part of an ongoing transaction for a processing condition that occured when additional Traveler authentication was required to complete transaction processing, such as access to secure FQTV information to complete Order amendment.
2. This information contains the authentication scheme response information, e.g. the Pin Phrase answer.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OrderListMetadataType">
		<xsd:annotation>
			<xsd:documentation source="description" xml:lang="en">Metadata definition.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="PassengerMetadata" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Other" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="description" xml:lang="en">Other Metadata Lists(s).</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OtherMetadata" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation source="description" xml:lang="en">Other Metadata List.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:choice>
									<xsd:element ref="AddressMetadatas"/>
									<xsd:element ref="AircraftMetadatas"/>
									<xsd:element ref="AirportMetadatas"/>
									<xsd:element ref="CityMetadatas"/>
									<xsd:element ref="CodesetMetadatas"/>
									<xsd:element ref="ContactMetadatas"/>
									<xsd:element ref="ContentMetadatas"/>
									<xsd:element ref="CountryMetadatas"/>
									<xsd:element ref="CurrencyMetadatas"/>
									<xsd:element ref="DescriptionMetadatas"/>
									<xsd:element ref="EquivalentID_Metadatas"/>
									<xsd:element ref="LanguageMetadatas"/>
									<xsd:element ref="PaymentCardMetadatas"/>
									<xsd:element ref="PaymentFormMetadatas"/>
									<xsd:element ref="PriceMetadatas"/>
									<xsd:element ref="RuleMetadatas"/>
									<xsd:element ref="StateProvMetadatas"/>
									<xsd:element ref="ZoneMetadatas"/>
								</xsd:choice>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrderListNoticesType">
		<xsd:annotation>
			<xsd:documentation source="description" xml:lang="en">Notice definition.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NoticeBaseType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OrderListParamsType">
		<xsd:annotation>
			<xsd:documentation source="description" xml:lang="en">Message Parameters.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Notices" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="references" type="MultiAssocSimpleType" use="optional">
			<xsd:annotation>
				<xsd:documentation source="description" xml:lang="en">Object association(s) between this object and any other object or metadata instance(s).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>
